body {
  padding: 25px 10px;
}
.header {
  text-align: center;
}

.grid {
  display: grid;
  grid-template: 1fr 0.5fr 0.5fr 1fr / 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas:
    "cLabel computerHand computerHand computerHand"
    "cPoints deck deck hPoints"
    ". status status ."
    "humanHand humanHand humanHand hLabel";
  min-height: 100vh;
  row-gap: 1%;
}

.grid > * {
  text-align: center;
}

.cLabel {
  grid-area: cLabel;
}

.computerHand {
  grid-area: computerHand;
  margin-left: auto;
  margin-right: auto;
}

.cPoints {
  grid-area: cPoints;
}

.deck_grid {
  grid-area: deck;
  margin-left: auto;
  margin-right: auto;
}

.hPoints {
  grid-area: hPoints;
}

.status {
  grid-area: status;
}

.hLabel {
  grid-area: hLabel;
}

.humanHand {
  grid-area: humanHand;
}

.footer {
  padding-top: 2%;
  text-align: center;
}
